html, body {
	margin: 0;
	font-family: monospace;
	text-align: center;
}

body {
	padding: 1em 0;
	width: 100%;
	transition: 0.3s box-shadow ease-in-out;
}

label {
	text-decoration: underline;
}

body.dragover {
	box-shadow: 0 0 10px 10px #eee inset
}

hr {
	width: 50%;
	margin: 1.5em auto;
}

#dropzone.uploading > #prompt {
	display: none;
}

#form {
	display: none;
}

#error {
	color: red;
}

.progress {
	border: 1px solid black;
	width: 50%;
	height: 10px;
	margin: 0 auto;
}

.progress > .progress-inner {
	background: black;
	background-image: linear-gradient(45deg,
		white 25%,
		transparent 25%,
		transparent 50%,
		white 50%,
		white 75%,
		transparent 75%,
		transparent);
	height: 100%;
	background-size: 40px 40px;
	transition: width 0.3s linear;
}

.progress-inner.active {
	animation: 5s transform-background linear infinite reverse;
}

.progress-inner.error {
	background: red;
}

@keyframes transform-background {
	from {
		background-position-x: 0;
	}
	to {
		background-position-x: 100%;
	}
}
